[submodule "dwm"]
	path = dwm
	url = git@github.com:athulp01/dwm.git
[submodule "slstatus"]
	path = slstatus
	url = git@github.com:athulp01/slstatus.git
[submodule "slock"]
	path = slock
	url = git@github.com:athulp01/slock.git
